@page "/crearEditarCliente"
@using Business.Models
@using Business.Business.AdminClientes

<PageTitle>Incio</PageTitle>
@inject IAdminClientesBusiness adminCliente;


<div>
    <div class="field">

    </div>
</div>


@code {
    [Parameter] public Cliente cliente { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (cliente == null)
        {
            cliente = new Cliente();
        }
    }
}
