@using Business.Models
@model Cliente

<div class="container">
    <form asp-action="CrearEditarCliente" asp-controller="AdminCliente" method="post">
        @Html.HiddenFor(x=>x.Id)
        <div class="mb-3">
            <label class="form-label">Tipo Identificacion</label>
            <select asp-for="TipoIdentificacion" asp-items="ViewBag.TiposIdentificacion" class="form-control">
                <option value="">--Seleccione--</option>
            </select>
            <span asp-validation-for="TipoIdentificacion" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Identificación</label>
            <input asp-for="NumeroIdentificacion" class="form-control" />
            <span asp-validation-for="NumeroIdentificacion" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Razon Social</label>
            <input asp-for="RazonSocial" class="form-control" />
            <span asp-validation-for="RazonSocial" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Pais</label>
            <select asp-for="PaisCodigo" asp-items="ViewBag.CodigosPaises" class="form-control">
                <option value="">--Seleccione--</option>
            </select>
            <span asp-validation-for="PaisCodigo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Departamento</label>
            <select asp-for="DepartamentoCodigo" asp-items="ViewBag.CodigosDepartamento" class="form-control">
                 <option value="">--Seleccione--</option>
            </select>
            <span asp-validation-for="DepartamentoCodigo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Municipio</label>
            <select asp-for="MunicipioCodigo" asp-items="ViewBag.CodigosMunicipio" class="form-control">
                <option value="">--Seleccione--</option>
            </select>
            <span asp-validation-for="MunicipioCodigo" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
@section Scripts{
    
    <script>
        const UrlObtenerDepartamentos = "@this.Url.Action("ConsultarDepartamentos", "AdminCliente")"
        const UrlObtenerDivisiones = "@this.Url.Action("ConsultarDivisiones", "AdminCliente")"
    </script>
    <script src="~/js/AdminCliente/CrearEditarCliente.js" asp-append-version="true"></script>
}